/* Стиль тела */
body {
    margin: 0px;
    background-color: #171717 !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Стиль бара */
#navlogo {
    overflow: hidden;
    background-color: #000000dd;
    padding: 10px 10px;
    position: fixed;
    z-index: 3;
    width: 100%;
    }

/* Стиль вкладок */
#navlogo a {
    float: left;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    }

/* Стиль лого */
#navlogo a.logo {
    font-size: 25px;
    font-weight: bold;
    }

/* Изменения, когда мышь наводишь */
#navlogo a:hover {
    background-color: #719d61ff;
    color: black;
    }

/* Добавляет что то для @media, не шарю, че такое медиа, и не шарю, че делает */
@media screen and (max-width: 500px) {
    #navlogo a {
        float: none;
        display: block;
        text-align: left;
    }

    #nav {
        float: none;
    }
}

/* Добавляет класс липкости в ДжС файл */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    }

/* Эта функция делает полезную вещь, чтобы ошибки не было, когда страницу листаешь */
.sticky + .content {
    padding-top: 100%;
    }

/* Картинка в самом начале */
.aestethic {
    position: relative; /* Позиция */
    max-width: 100%; /* Макс.ширина */
    margin: 0 auto; /* Центр здесь */
    height: auto;
}

/* Текст на картинке */
.text-block {
    position: absolute;
    top: 300px;
    left: 20px;
    font-size: 50px;
    line-height: 10px;
    background-color: #000000b3;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

/* Стиль первого блок текста */
.first-block {
    position: absolute;
    left: auto;
    margin: 50px 10px 10px 10px;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 40px;
    background-color: #0000009b;
    color: white;
    border-radius: 50px;
}

/* Стиль второго блок текста */
.second-block {
    position: absolute;
    top: 1000px;
    left: auto;
    margin: 10px 10px 10px 10px;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #0000009b;
    color: white;
    font-size: 40px;
    border-radius: 50px;
}

/* Стиль цитаты */
.third-block {
    position: absolute;
    top: 1250px;
    width: 100%;
    margin: 50px 0px 0px 0px;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
    background-color: #0000009b;
    color: white;
    font-size: 30px;
    font-style: oblique;
}

.about {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #000000b2;
    width: 70%;
    border-radius: 20%;
    line-height: 10px;
    padding: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.title {

    font-size: 30px;
    color: #00acf7;
}

.link {
    font-size: 30px;
    color: #00acf7;
}

.text-skills {
    font-size: 30px;
    color: #00acf7;
    font-weight: bold;
}

* {
    box-sizing: border-box
}

/* Коробка с умениями */
.skill {
    width: 70%;
    background-color: #ddd; /* Фон */
    display: block;
    margin-left: auto;
    margin-right: auto
}


.skills {
    padding-right: 20px;
    line-height: 40px;
    color: white; /* Цвет текста */
    font-weight: bold;

}

.html {
    width: 50%;
    background-color: #b52118;
}

.css {
    width: 50%;
    background-color: #196098;
}

.js {
    width: 25%;
    background-color: #d3cf17;
}

.php {
    width: 10%;
    background-color: #449c21;
}

.me {
    padding: 50px;
    text-align: center;
}

/* Стиль окна поиска */
#mySearch {
    width: 15%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
    margin-top: 80px;
}

/* Стиль меню навигации */
#myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 15%;
}

/* Стиль навигационных ссылок */
#myMenu li a {
    padding: 12px;
    text-decoration: none;
    color: white;
    display: block;
    font-weight: bold;

}

#myMenu li a:hover {
     background-color: #719d61ff;
}

.text {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    float: right;
}